#header{ 
	position: relative;
    padding: 10px 0;
    text-align: center;
}
#menu_bar{
	position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
}

#side_menu {
	position: fixed;
	right: -310px;  /* 화면 밖(오른쪽) */
	top: 0;
	width: 260px;
	height: 100%;
	background: #fff;
	box-shadow: -2px 0 8px rgba(0,0,0,0.15);
	transition: right 0.3s ease;
	z-index: 1000;
	padding: 20px;
	background-color: #41E9C2;
    flex-direction: column;
    display: flex;
    color: #fff;
    justify-content: space-around;
}
#side_menu ul{
	list-style:none;
}
#link_menu,#btn_menu{
	text-align:center;
	padding:0;
}
#link_menu li a,#btn_menu li a{
	display:block;
	color:#fff;
	font-weight:bold;
	font-size:1.5rem;
	text-decoration:none;
}
#link_menu li a:hover{
	text-decoration:underline;
}

#btn_menu li a{
	background-color:#fff;
	color: #41E9C2;
    border-radius: 6px;
    padding: 3px 0;
    margin: 5px 0;
}
#btn_menu li a:hover{
	background-color:#267d69;
	color: #fff;
	box-shadow: 0 4px 8px rgba(0, 191, 165, 0.35);
	transition: all 0.25s ease;
}

/* 열릴 때 */
#side_menu.active {
	right: 0;
}

/* 화면 어두워짐 */
#menu_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	z-index: 900;
}

#menu_overlay.active {
	display: block;
}
