.tr_myInfoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.tr_myInfoContainer{
  border: solid rgba(255, 255, 255, 0.2) 1px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px); /* 배경 블러 */
  -webkit-backdrop-filter: blur(10px); /* Safari 호환 */
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 700px;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* 프로필 사진 영역 */
.leftSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

#changePicBtn{
	display: block;
}

/* 정보 표시부분 스타일 */
.rightSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  gap: 30px;
}
.myProfile,
.myTravel{
	border: #ccc 1px solid;
	border-radius: 5px;
	width: 450px;
	background-color: white;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.title{
	background-color:  #41E9C2 !important;
	color: #222;
	margin: 0;
	height: 35px;
	padding: 10px;
	color: white;
	border-radius: 5px 5px 0 0;
}

h3{
	margin: 0;
}

ul, li{
	list-style-type: none;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 0;
}
li{
	height: 35px;
	padding: 5px;
}

/* 회원 정보 수정 페이지로 이동버튼 */
.title a{
	text-decoration: none;
	color: white;
}