.tr_myInfoPage {
	margin: 0;
	min-height: 100vh;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
  }
  
main{
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
}


.tr_myInfoContainer{
  border: solid rgba(255, 255, 255, 0.2) 1px;
  background: #f5f7fa;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 1300px;
  min-height: calc(100% - 80px);
  border-radius: 5px;
}

/* 프로필 사진 영역 */
.leftSection{
  position:relative;
  width: 100%;
  border-right: solid 1px #ccc;
  box-shadow: 5px 1px 5px #ccc;
}


.changePicBtn{
	position: absolute;
	border-radius: 50%;
}

/*왼쪽 내용 위치 조절*/
.leftProfileSection{
	position:absolute;
	left: 180px;
	top: 130px;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftSection h2 {
	font-size: 45px;
}

.leftSection p{
	font-size: 25px;
}

.tr_profilePic{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: relative;
}

#changePicBtn{
	width: 42px;
	height: 42px;
	border: none;
	display: inline-block;
	position: absolute;
	right: 27px;
	bottom: 100px;
	border-radius: 50%;
	background: url(../../travel/img/icon/changePic.png) center no-repeat;
	cursor: pointer;
}

/* 정보 표시부분 스타일 */
.rightSection{
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  min-height: 900px;
}

.myProfile{
	position: absolute;
	top: 100px;
	left: 150px;
	border: #ccc 1px solid;
	border-radius: 5px;
	width: 500px;
	background-color: white;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.myTravel{
	position: absolute;
	top: 400px;
	left: 150px;
	border: #ccc 1px solid;
	border-radius: 5px;
	width: 500px;
	background-color: white;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.title{
	background-color:  #41E9C2 !important;
	color: #222;
	margin: 0;
	height: 35px;
	padding: 10px;
	color: white;
	border-radius: 5px 5px 0 0;
}

h3{
	margin: 0;
	font-size: 25px;
}

ul, li{
	list-style-type: none;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
}
li{
	padding: 10px;
	font-size: 25px;
	height: 40px;
}
.travelListTitle{
	color: black;
	text-decoration: none;
}

/* 회원 정보 수정 페이지로 이동버튼 */
.title a{
	text-decoration: none;
	color: white;
}